In [16]:
import pandas as pd

amazon = pd.read_csv('amazon_wildfires.csv', sep=',', index_col=0, engine='python')

display(amazon)

          state     month  number        date
year
1998       Acre   Janeiro     0.0  1998-01-01
1999       Acre   Janeiro     0.0  1999-01-01
2000       Acre   Janeiro     0.0  2000-01-01
2001       Acre   Janeiro     0.0  2001-01-01
2002       Acre   Janeiro     0.0  2002-01-01
...         ...       ...     ...         ...
2012  Tocantins  Dezembro   128.0  2012-01-01
2013  Tocantins  Dezembro    85.0  2013-01-01
2014  Tocantins  Dezembro   223.0  2014-01-01
2015  Tocantins  Dezembro   373.0  2015-01-01
2016  Tocantins  Dezembro   119.0  2016-01-01

[6454 rows x 4 columns]

In [20]:
new_amazon = amazon.reset_index()
display(new_amazon)
print(sorted(new_amazon["year"].value_counts()))

      year      state     month  number        date
0     1998       Acre   Janeiro     0.0  1998-01-01
1     1999       Acre   Janeiro     0.0  1999-01-01
2     2000       Acre   Janeiro     0.0  2000-01-01
3     2001       Acre   Janeiro     0.0  2001-01-01
4     2002       Acre   Janeiro     0.0  2002-01-01
...    ...        ...       ...     ...         ...
6449  2012  Tocantins  Dezembro   128.0  2012-01-01
6450  2013  Tocantins  Dezembro    85.0  2013-01-01
6451  2014  Tocantins  Dezembro   223.0  2014-01-01
6452  2015  Tocantins  Dezembro   373.0  2015-01-01
6453  2016  Tocantins  Dezembro   119.0  2016-01-01

[6454 rows x 5 columns]

[298, 324, 324, 324, 324, 324, 324, 324, 324, 324, 324, 324, 324, 324, 324, 324, 324, 324, 324, 324]

In [21]:
#amazon["date"].str.split("-")
amazon_cols = new_amazon["state"].value_counts().index
years = new_amazon["year"].drop_duplicates().values

new_years = []

for i in years:
    if i >= 1998 and i <= 2014:
        new_years.append(i)
print(new_years)

data = pd.DataFrame()

prod = []

for year in new_years:
    #print(year)
    prod.append(new_amazon.loc[new_amazon["year"] == year]["number"].sum())
    #print(prod)
data = pd.concat([data, pd.DataFrame(prod, columns=["N_incendios(Amazonía BR)"])], axis=1).set_index([new_years])

display(data)

[1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014]

      N_incendios(Amazonía BR)
1998                 20013.971
1999                 26882.821
2000                 27351.251
2001                 29071.612
2002                 37390.600
2003                 42760.674
2004                 38453.163
2005                 35004.965
2006                 33832.161
2007                 33037.413
2008                 29378.964
2009                 39117.178
2010                 37037.449
2011                 34633.545
2012                 40084.860
2013                 35146.118
2014                 39621.183

In [22]:
old_data = pd.read_csv('p_p_g_a_e_f_s.csv', sep=',', index_col=0)

final_amazonia = pd.concat([old_data.reset_index(), data.reset_index()], axis=1)
final_amazonia = final_amazonia.set_index([new_years])
final_amazonia = final_amazonia.drop(["index"], axis=1)
display(final_amazonia)

,Tierras de cultivo[Kha],Tierras agrícolas[Kha],Tierras arables[Kha],Tierr. dedicadas a praderas y pastizales perman.[Kha],Tierras destinadas a cultivos permanentes[Kha],Tierras en barbecho[Kha],Tierras destinadas a cultivos temporales[Kha],Tierr. destinadas a praderas y pastizales tempor.[Kha],Praderas y pastizales permanentes naturales[Kha],Praderas y pastizales permanentes cultivados[Kha],...,Goats[Heads],Sheep[Heads],Buffaloes[Heads],Pigs[Heads],kg eq de petróleo per cápita,kWh per cápita,Population,Forest_area[Kha],Area_Selvática[Kha],N_incendios(Amazonía BR)
1998,1.598180e+06,5.281621e+06,1.459381e+06,3.683441e+06,138799.2000,8863.0000,0.0000,0.0000,0.0000,0.0000,...,8.561212e+08,1.172186e+09,183211316.0,1.278714e+09,409278.121679,582275.856940,5984794112,4.342942e+06,4070135.67,20013.971
1999,1.601388e+06,5.284178e+06,1.459728e+06,3.682790e+06,141660.3000,8698.0000,0.0000,0.0000,0.0000,0.0000,...,8.819086e+08,1.189076e+09,184943049.0,1.319562e+09,406421.106346,591871.103193,6064239104,4.337076e+06,4062868.97,26882.821
2000,1.598015e+06,5.288636e+06,1.454432e+06,3.690621e+06,143583.5500,9084.9500,0.0000,0.0000,0.0000,0.0000,...,9.072522e+08,1.197473e+09,186849897.0,1.337635e+09,407955.619866,605625.875204,6143494144,4.331210e+06,4055602.23,27351.251
2001,1.592676e+06,5.281914e+06,1.446734e+06,3.689238e+06,145941.7800,113717.2000,190502.3200,19155.2100,463125.0000,143624.2000,...,9.213028e+08,1.174409e+09,189045179.0,1.306011e+09,417434.985213,614291.725746,6222626816,4.328350e+06,4051030.33,29071.612
2002,1.587330e+06,5.266591e+06,1.439858e+06,3.679261e+06,147471.4700,134021.7300,346964.5200,48466.7000,568089.9000,160455.3000,...,9.297619e+08,1.166830e+09,191434819.0,1.319323e+09,420252.145081,626224.360133,6301772800,4.325489e+06,4046458.41,37390.600
2003,1.588052e+06,5.246291e+06,1.437800e+06,3.658239e+06,150252.1500,143935.0490,398502.5850,49258.8560,464821.1000,155784.1000,...,9.487161e+08,1.179128e+09,194243011.0,1.323360e+09,429199.031721,639813.251571,6381185024,4.322629e+06,4041886.52,42760.674
2004,1.595130e+06,5.210371e+06,1.441324e+06,3.615241e+06,153806.4300,132530.5700,401949.9700,47341.4600,472733.6000,188660.9000,...,9.751360e+08,1.217176e+09,196301811.0,1.313687e+09,437615.378156,651625.392027,6461158912,4.319769e+06,4037314.60,38453.163
2005,1.600839e+06,5.220849e+06,1.444260e+06,3.620010e+06,156578.5600,132258.3200,409327.0400,46301.8800,454603.9000,191006.5000,...,1.003008e+09,1.256596e+09,199371789.0,1.332702e+09,436683.447635,663109.736623,6541906944,4.316909e+06,4032742.70,35004.965
2006,1.591868e+06,5.214316e+06,1.432412e+06,3.622448e+06,159457.1313,118769.5000,405984.2300,44875.4600,464610.5000,193248.1000,...,9.990491e+08,1.260618e+09,203106269.0,1.365627e+09,447577.943811,678377.956881,6623518208,4.314049e+06,4029328.76,33832.161
2007,1.594217e+06,5.209112e+06,1.430834e+06,3.614895e+06,163383.3000,118194.2000,411256.9500,43159.7800,491530.9000,202956.0000,...,1.018802e+09,1.266893e+09,206789865.0,1.345023e+09,451843.346378,691299.550660,6705947136,4.311189e+06,4025914.77,33037.413
2008,1.595744e+06,5.199566e+06,1.430409e+06,3.603822e+06,165335.1700,113878.8600,427827.6400,43204.5400,532953.3000,309091.6000,...,1.045958e+09,1.249078e+09,209013157.0,1.385392e+09,454571.909766,703205.749631,6789088768,4.308328e+06,4022500.87,29378.964
2009,1.597507e+06,5.192755e+06,1.429397e+06,3.595247e+06,168110.3900,109485.2300,420351.3800,41678.4800,532177.9500,308910.3200,...,1.062329e+09,1.245239e+09,224246978.0,1.446399e+09,438522.543106,684756.815589,6872766976,4.305468e+06,4019086.91,39117.178
2010,1.600852e+06,5.197341e+06,1.429282e+06,3.596489e+06,171570.6400,111851.6000,498519.0800,40378.8100,912919.5000,329250.4900,...,1.060347e+09,1.244369e+09,223498447.0,1.445905e+09,450989.055294,713413.061962,6956824064,4.302608e+06,4015672.97,37037.449
2011,1.612221e+06,5.220308e+06,1.437617e+06,3.608087e+06,174604.1200,108320.4400,512821.2800,39321.2700,914725.9700,327467.5100,...,1.073541e+09,1.264569e+09,223337483.0,1.450940e+09,451187.835339,713350.977497,7041193984,4.300054e+06,4012363.92,34633.545
2012,1.622262e+06,5.221104e+06,1.445300e+06,3.598842e+06,176962.1000,110812.6800,500146.3800,37267.7200,930492.0900,329314.2900,...,1.091212e+09,1.279543e+09,223825531.0,1.470606e+09,450883.212472,716736.704749,7125828096,4.270610e+06,4009056.05,40084.860
2013,1.625059e+06,5.209852e+06,1.446902e+06,3.584792e+06,178157.5843,108597.1260,511357.3682,37471.7183,909137.8261,335816.5644,...,1.106942e+09,1.310763e+09,223737572.0,1.464392e+09,446222.795232,720612.963709,7210582016,4.268230e+06,4005748.20,35146.118
2014,1.626226e+06,5.208838e+06,1.447809e+06,3.582609e+06,178417.2706,98812.7064,513339.7562,37811.7900,826081.8824,189475.7473,...,1.121308e+09,1.305057e+09,225030802.0,1.474566e+09,445731.976025,720677.860713,7295290880,4.265850e+06,4002440.33,39621.183

In [23]:
final_amazonia.to_csv('p_p_g_a_e_f_s_a.csv', index=True)