In [61]:
import warnings
warnings.filterwarnings('ignore') ## Desactivar Warnings
import pandas as pd

co2 = pd.read_csv('co-emissions-per-capita.csv', sep=',', index_col=0)
old_data = pd.read_csv('Final_Dataset1_2.csv', sep=',', index_col=0).rename({"N02 Total including land use change and forestry (tonnes CO₂e)": "N2O Total including land use change and forestry (tonnes CO₂e)"}, axis=1)

In [62]:
co2 = co2.drop(["Code"], axis=1)
display(co2)

             Year  Per capita CO₂ emissions (tonnes)
Entity
Afghanistan  1949                           0.001912
Afghanistan  1950                           0.010871
Afghanistan  1951                           0.011684
Afghanistan  1952                           0.011542
Afghanistan  1953                           0.013216
...           ...                                ...
Zimbabwe     2014                           0.880372
Zimbabwe     2015                           0.880429
Zimbabwe     2016                           0.770309
Zimbabwe     2017                           0.844692
Zimbabwe     2018                           0.849276

[20531 rows x 2 columns]

In [63]:
import numpy as np

years = co2["Year"].drop_duplicates().values
n_years = len(years)
cols = co2.index.to_series().drop_duplicates().values

new_years = []

for x in years:
    try:
        if int(x) <= 2014 and int(x) >= 1998:
            new_years.append(x)
    except:
        print("Skip") 
print(cols)
print(new_years)

['Afghanistan' 'Africa' 'Albania' 'Algeria' 'Andorra' 'Angola' 'Anguilla'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Asia'
 'Asia (excl. China & India)' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas'
 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin'
 'Bermuda' 'Bhutan' 'Bolivia' 'Bonaire Sint Eustatius and Saba'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'British Virgin Islands'
 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon'
 'Canada' 'Cape Verde' 'Cayman Islands' 'Central African Republic' 'Chad'
 'Chile' 'China' 'Colombia' 'Comoros' 'Congo' 'Cook Islands' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cuba' 'Curacao' 'Cyprus' 'Czech Republic'
 'Democratic Republic of Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'EU-27' 'EU-28' 'Ecuador' 'Egypt' 'El Salvador'
 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia' 'Europe'
 'Europe (excl. EU-27)' 'Europe (excl. EU-28)' 'Faeroe Islands'
 'Falkland Islands' 'Fiji' 'Finland' 'France' 'French Guiana'
 'French Polynesia' 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana'
 'Gibraltar' 'Greece' 'Greenland' 'Grenada' 'Guadeloupe' 'Guatemala'
 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hong Kong'
 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Israel'
 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati'
 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libya' 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Macao' 'Macedonia'
 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Martinique' 'Mauritania' 'Mauritius' 'Mexico'
 'Moldova' 'Mongolia' 'Montenegro' 'Montserrat' 'Morocco' 'Mozambique'
 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands' 'New Caledonia'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Niue' 'North America'
 'North America (excl. USA)' 'North Korea' 'Norway' 'Oceania' 'Oman'
 'Pakistan' 'Palau' 'Palestine' 'Panama' 'Papua New Guinea' 'Paraguay'
 'Peru' 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Reunion' 'Romania'
 'Russia' 'Rwanda' 'Saint Helena' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Pierre and Miquelon' 'Saint Vincent and the Grenadines' 'Samoa'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Sint Maarten (Dutch part)' 'Slovakia'
 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa' 'South America'
 'South Korea' 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname'
 'Swaziland' 'Sweden' 'Switzerland' 'Syria' 'Taiwan' 'Tajikistan'
 'Tanzania' 'Thailand' 'Timor' 'Togo' 'Tonga' 'Trinidad and Tobago'
 'Tunisia' 'Turkey' 'Turkmenistan' 'Turks and Caicos Islands' 'Tuvalu'
 'Uganda' 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela' 'Vietnam'
 'World' 'Yemen' 'Zambia' 'Zimbabwe']
[1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014]

In [69]:
new_co2 = co2.loc[co2["Year"].isin(new_years)].T["World"].T.reset_index().drop(["Entity", "Year"], axis=1)
display(new_co2)

    Per capita CO₂ emissions (tonnes)
0                            4.007654
1                            3.946177
2                            3.997512
3                            4.039773
4                            4.045559
5                            4.210305
6                            4.362623
7                            4.471923
8                            4.572621
9                            4.604889
10                           4.695145
11                           4.586674
12                           4.753125
13                           4.879480
14                           4.900383
15                           4.882808
16                           4.866952

In [70]:
#pd.concat([old_data["Population"].reset_index(), new_co2], axis=1)
#display(old_data["Population"])
new_co2 = (old_data["Population"].reset_index().drop(["Year"],axis=1).rename({"Population":"CO2 Total (tonnes)"}, axis=1)).mul(new_co2.rename({"Per capita CO₂ emissions (tonnes)":"CO2 Total (tonnes)"},axis=1))
display(new_co2)

    CO2 Total (tonnes)
0         2.398498e+10
1         2.393056e+10
2         2.455869e+10
3         2.513800e+10
4         2.549419e+10
5         2.686674e+10
6         2.818760e+10
7         2.925491e+10
8         3.028684e+10
9         3.088015e+10
10        3.187576e+10
11        3.152314e+10
12        3.306665e+10
13        3.435737e+10
14        3.491929e+10
15        3.520789e+10
16        3.550583e+10

In [73]:
index = old_data.index
final_data = pd.concat([old_data.reset_index().drop(["Year", "CO2 Total (tonnes)"],axis=1), new_co2],axis=1).set_index(index)
display(final_data)

,Average global mean temperature anomalies in degrees Celsius,Tierras de cultivo[Kha],Tierras agrícolas[Kha],Tierras arables[Kha],Tierr. dedicadas a praderas y pastizales perman.[Kha],Tierras destinadas a cultivos permanentes[Kha],Tierras en barbecho[Kha],Tierras destinadas a cultivos temporales[Kha],Tierr. destinadas a praderas y pastizales tempor.[Kha],Praderas y pastizales permanentes naturales[Kha],...,N_incendios(Amazonía BR),Gold price[USD],CH4 in Agriculture (tonnes CO₂e),CH4 in Fugitive emissions (tonnes CO₂e),CH4 in Waste (tonnes CO₂e),CH4 in Land use change and forestry (tonnes CO₂e),CH4 in Industry (tonnes CO₂e),CH4 in Other fuel combustion (tonnes CO₂e),N2O Total including land use change and forestry (tonnes CO₂e),CO2 Total (tonnes)
Year,,,,,,,,,,,,,,,,,,,,,
1998,0.6344,1.598180e+06,5.281621e+06,1.459381e+06,3.683441e+06,138799.2000,8863.0000,0.0000,0.0000,0.0000,...,20013.971,294.09,6.517580e+09,3.858820e+09,2.897810e+09,-1.023530e+09,13170000.0,7.560100e+08,5.453480e+09,2.398498e+10
1999,0.4438,1.601388e+06,5.284178e+06,1.459728e+06,3.682790e+06,141660.3000,8698.0000,0.0000,0.0000,0.0000,...,26882.821,278.57,6.577130e+09,3.899600e+09,2.884380e+09,-7.912000e+08,13940000.0,7.605000e+08,5.387520e+09,2.393056e+10
2000,0.4262,1.598015e+06,5.288636e+06,1.454432e+06,3.690621e+06,143583.5500,9084.9500,0.0000,0.0000,0.0000,...,27351.251,279.10,6.582530e+09,3.996360e+09,2.879590e+09,-6.258400e+08,19810000.0,7.506300e+08,5.350400e+09,2.455869e+10
2001,0.5473,1.592676e+06,5.281914e+06,1.446734e+06,3.689238e+06,145941.7800,113717.2000,190502.3200,19155.2100,463125.0000,...,29071.612,271.04,6.623240e+09,4.120120e+09,2.844810e+09,-6.472500e+08,19480000.0,7.706300e+08,5.428030e+09,2.513800e+10
2002,0.6023,1.587330e+06,5.266591e+06,1.439858e+06,3.679261e+06,147471.4700,134021.7300,346964.5200,48466.7000,568089.9000,...,37390.600,309.68,6.648880e+09,4.196380e+09,2.826420e+09,-1.140380e+09,19620000.0,7.803600e+08,5.558410e+09,2.549419e+10
2003,0.6134,1.588052e+06,5.246291e+06,1.437800e+06,3.658239e+06,150252.1500,143935.0490,398502.5850,49258.8560,464821.1000,...,42760.674,363.32,6.631110e+09,4.375390e+09,2.809930e+09,-1.023200e+09,20150000.0,7.957600e+08,5.590650e+09,2.686674e+10
2004,0.5783,1.595130e+06,5.210371e+06,1.441324e+06,3.615241e+06,153806.4300,132530.5700,401949.9700,47341.4600,472733.6000,...,38453.163,409.17,6.735170e+09,4.487850e+09,2.777450e+09,-1.181680e+09,20190000.0,8.060800e+08,5.721690e+09,2.818760e+10
2005,0.6585,1.600839e+06,5.220849e+06,1.444260e+06,3.620010e+06,156578.5600,132258.3200,409327.0400,46301.8800,454603.9000,...,35004.965,444.45,6.788420e+09,4.570390e+09,2.748770e+09,-1.026870e+09,20040000.0,8.030000e+08,5.711680e+09,2.925491e+10
2006,0.6125,1.591868e+06,5.214316e+06,1.432412e+06,3.622448e+06,159457.1313,118769.5000,405984.2300,44875.4600,464610.5000,...,33832.161,603.77,6.839370e+09,4.746340e+09,2.762450e+09,-1.121100e+09,20250000.0,8.152200e+08,5.770060e+09,3.028684e+10
2007,0.6100,1.594217e+06,5.209112e+06,1.430834e+06,3.614895e+06,163383.3000,118194.2000,411256.9500,43159.7800,491530.9000,...,33037.413,695.39,6.907120e+09,4.877070e+09,2.769630e+09,-9.320500e+08,20820000.0,8.295200e+08,5.867580e+09,3.088015e+10
2008,0.5419,1.595744e+06,5.199566e+06,1.430409e+06,3.603822e+06,165335.1700,113878.8600,427827.6400,43204.5400,532953.3000,...,29378.964,871.96,6.936680e+09,5.047840e+09,2.770680e+09,-8.511100e+08,19980000.0,8.476600e+08,5.816430e+09,3.187576e+10
2009,0.6367,1.597507e+06,5.192755e+06,1.429397e+06,3.595247e+06,168110.3900,109485.2300,420351.3800,41678.4800,532177.9500,...,39117.178,972.35,6.922930e+09,5.044370e+09,2.778800e+09,-1.007010e+09,18730000.0,8.602500e+08,5.797390e+09,3.152314e+10
2010,0.7014,1.600852e+06,5.197341e+06,1.429282e+06,3.596489e+06,171570.6400,111851.6000,498519.0800,40378.8100,912919.5000,...,37037.449,1224.52,6.982620e+09,5.193430e+09,2.791930e+09,-9.004200e+08,19450000.0,8.798300e+08,5.910030e+09,3.306665e+10
2011,0.5788,1.612221e+06,5.220308e+06,1.437617e+06,3.608087e+06,174604.1200,108320.4400,512821.2800,39321.2700,914725.9700,...,34633.545,1571.52,7.091030e+09,5.257340e+09,2.789710e+09,-9.104200e+08,19370000.0,9.106000e+08,6.066970e+09,3.435737e+10
2012,0.6240,1.622262e+06,5.221104e+06,1.445300e+06,3.598842e+06,176962.1000,110812.6800,500146.3800,37267.7200,930492.0900,...,40084.860,1668.98,7.110250e+09,5.289860e+09,2.801970e+09,-9.886400e+08,19320000.0,9.537200e+08,6.121200e+09,3.491929e+10
2013,0.6679,1.625059e+06,5.209852e+06,1.446902e+06,3.584792e+06,178157.5843,108597.1260,511357.3682,37471.7183,909137.8261,...,35146.118,1411.23,7.038560e+09,5.305160e+09,2.809880e+09,-9.017800e+08,19320000.0,1.012820e+09,6.065740e+09,3.520789e+10
2014,0.7408,1.626226e+06,5.208838e+06,1.447809e+06,3.582609e+06,178417.2706,98812.7064,513339.7562,37811.7900,826081.8824,...,39621.183,1266.40,7.081520e+09,5.320170e+09,2.863730e+09,-1.025020e+09,19690000.0,1.047520e+09,6.185170e+09,3.550583e+10

In [75]:
final_data.to_csv('Final_Dataset1_3.csv', index=True)